@mixin Text($fs: $text-base, $fw: $text-regular, $c: $c1-200) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin button($bg, $border, $radius, $padding, $shadow) {
  background: $bg;
  border: $border;
  border-radius: $radius;
  padding: $padding;
  box-shadow: $shadow;
  transition: all 300ms ease;
  cursor: pointer;
}
